.btn {
  min-width: 60px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1.5px solid transparent;
  border-radius: 0.3em;
  padding: 0.2em 1.2em;
  height: 2.5em;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;

  &:disabled {
    cursor: unset;
    opacity: 0.7;
  }
}

.btn-primary {
  background: var(--color-primary);
  color: #fff;

  &:hover:enabled {
    background: color-mix(in oklab, var(--color-primary), #000 12%);
  }
}

.btn-secondary {
  background: var(--color-primary-100);
  color: var(--color-primary);

  &:hover:enabled {
    color: color-mix(in oklab, var(--color-primary), #000 40%);
  }
}

.btn-outline {
  background: #fff;
  color: var(--color-primary);
  border-color: var(--color-primary);

  &:hover:enabled {
    background: var(--color-primary-100);
  }
}

.btn-loader {
  opacity: 1 !important;
}

.btn-sm {
  font-size: 0.85rem;
}

.btn-md {
  font-size: 0.975rem;
}

.btn-lg {
  font-size: 1.1rem;
}
