.btn {
  min-width: 60px;
  font-family: var(--font-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1.5px solid transparent;
  border-radius: 0.5em;
  padding: 0.2em 1.2em;
  height: 2.5em;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;

  &:disabled {
    cursor: unset;
    opacity: 0.7;
  }
}

.btn-primary {
  background: var(--color-primary);
  color: #fff;

  &:hover:enabled {
    background: color-mix(in oklab, var(--color-primary), #000 12%);
  }
}

.btn-secondary {
  background: #F7F7F7;
  color: #000;
}

.btn-outline {
  background: #fff;
  color: #000;
  border-color: #e3e3e3;

  &:hover:enabled {
    background: #e3e3e350;
  }
}

.btn-loader {
  opacity: 1 !important;
}

.btn-sm {
  font-size: 0.9rem;
  padding: 0.1em 1em;
}

.btn-md {
  font-size: 0.975rem;
}

.btn-lg {
  font-size: 1.1rem;
}
