:root {
  --color-input-label: var(--color-text-primary);
  --color-input-placeholder: #B4B4B8;
  --color-input-selected: #f3f7fd;
  --color-input-border: #CFD8DF;
  --color-input-disabled: #f5f5f5;
  --input-border: 1px solid var(--color-input-border);
  --input-border-radius: 8px;

  --input-font-family: var(--font-primary);
  --input-font-size: 0.8rem;
}

.input-container {
  position: relative;

  label {
    display: block;
    color: var(--color-input-label);
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 0.8rem;

    span {
      color: red;
    }
  }

  .input-error {
    color: red;
    font-size: 0.65rem;
    min-height: 16px;
  }
}
