:root {
  --color-input-label: #6E8295;
  --color-input-placeholder: #B4B4B8;
  --color-input-border: #CFD8DF;
  --color-input-selected: #f3f7fd;

  --input-font-family: var(--font-primary);
  --input-font-size: 0.85rem;
  --input-border: 1px solid var(--color-input-border);
  --input-border-radius: 8px;
}

.input-container {
  position: relative;

  label {
    display: block;
    color: var(--color-input-label);
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 0.8rem;

    span {
      color: red;
    }
  }

  .input-error {
    color: red;
    font-size: 0.75rem;
    min-height: 18px;
  }
}
