.otp-input {
  display: flex;
  gap: 15px;
  justify-content: center;

  &__text-input {
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-input-border);
    border-radius: 5px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: var(--input-font-family);
    font-size: var(--input-font-size);

    &:focus {
      outline: none;
      border-color: var(--color-primary);
    }
  }
}
